<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Payroll.CFC.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (x86)&quot; configuration in project &quot;D:\NILO FILES\Nilo Files\ZKSoftware\Profile Manager - vs2010\Payroll.CFC\Payroll.CFC.csproj&quot;." ToolsVersion="10.0">
  <RuleHintPaths>
    <Path>\rules</Path>
  </RuleHintPaths>
</RuleSet>