<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
    <add name="PayrollConnectionString" connectionString="Data Source={0}; Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient"/>
    <add name="PayrollConfiConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient"/>
    <add name="dtrConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
  <add key="isExempted" value="FALSE" />
  <add key="Confidential" value="FALSE" />
  <add key="DataSource" value="ZzgZEB+zzOXP4Q0nCKyUpA==" />
  <add key="CentralDBName" value="eUcn6HD4swW74apDhnB74sr90Tq1rZJdQ/+QWnuz2w8=" />
  <add key="DBNameDTR" value="byMbCy+ixtL+rJnai/5j7xk+HoHvr0wlJkHlTqRpZ/U=" />
  <add key="UserID" value="eYhg6WmTArRm4tdkLOLDow==" />
  <add key="Password" value="w6rNDdvoTco4hsc3uaChGw==" />
  <add key="LogPath" value="C:\ServiceLogs\" />
  <add key="ConsolePath" value="C:\Program Files (x86)\PayrollSkipper\PayrollSkipper Services\" />
  <add key="ConsoleName" value="UploadDownloadSchedulerConsole.exe" />
  <add key="MailSent" value="ON" />
  <add key="Logging" value="ON" />
  <add key="SMTPServer" value="" />
  <add key="SMTPPort" value="" />
  <add key="SMTPUserName" value="" />
  <add key="SMTPLogin" value="" />
  <add key="SMTPPassword" value=" " />
  <add key="intervalDelay" value="10" />
  <add key="ProfileCategory" value="L" />
 </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
