<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dtrConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DataSource" value="13XTlWhnLJ/YZL94f00tfA=="/>
    <add key="DTRDBName" value="0WrbXUfBwEhTaRmz0efzKw=="/>
    <add key="UserID" value="aUCCRX775iuX2W2mf11+GQ=="/>
    <add key="Password" value="WUTrLdE7/8DQnIan/lj3YoAemvYiiV82eSrWv4Qrnfo="/>
    <add key="BIOMETRICConsolePath" value="C:\Users\00016\Documents\TIMEKEEPING\TIME KEEPING MANAGER\TimeKeepingManager.App\bin\Debug"/>
    <add key="BIOMETRICConsoleName" value="TimeKeepingManager.Con.exe"/>
    <add key="BIOMETRICPeriods" value="14:00,17:00"/>
    <add key="BIOMETRICSychTime" value="TRUE"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
