<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections />
  <connectionStrings>
    <add name="PayrollConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient" />
    <add name="PayrollConfiConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient" />
    <add name="dtrConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient" />
    <add name="ProximityConfiConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient" />
    <add name="rsConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DataSource" value="UIyayiHdDIaZAtHMGW9hqIy4jzcAJJiQEVbPPdRqWA4=" />
    <add key="ReportServerUsername" value="VNKjgMOSETUDVWywaZV7VA==" />
    <add key="AmanoDB2" value="v+s4tN7/v9arPf0cg4psUa4t6RIWTn9MvS+bNbnUi7U=" />
    <add key="AutoChangeShift" value="TRUE" />
    <add key="DefaultShift" value="TRUE" />
    <add key="OTAfterMidnight" value="TRUE" />
    <add key="UseDBProfiles" value="TRUE" />
    <add key="UseDecryption" value="TRUE" />
    <add key="FourPockets" value="TRUE" />
    <add key="FROM" value="TEST@WF_Disregard.com.ph" />
    <add key="Password" value="4pbmH8BdI+3IYIM9REHVPQ==" />
    <add key="AmanoUserId1" value="NGcs+quntd77hjQ3KM4xtA==" />
    <add key="AmanoUserId2" value="NGcs+quntd77hjQ3KM4xtA==" />
    <add key="UserID" value="aUCCRX775iuX2W2mf11+GQ==" />
    <add key="DBNameNonConfi" value="myewNsGwzotw3mnswW/eVFiVM6CJwIgSSAVAbNwq98M=" />
    <add key="ProfileDBName" value="myewNsGwzotw3mnswW/eVFiVM6CJwIgSSAVAbNwq98M=" />
    <add key="DBNameConfi" value="myewNsGwzotw3mnswW/eVFiVM6CJwIgSSAVAbNwq98M=" />
    <add key="EmploymentStatusExclusion" value="PB" />
    <add key="DBNameDTR" value="O+xclqKE7OJJUNkCCq2ZneqVWABgjeB5A636o9e+9nQ=" />
    <add key="MailSent" value="ON" />
    <add key="SMTPLogin" value="NPAXCORP\APSUNGAHID" />
    <add key="SMTPUserName" value="NPAXCORP\APSUNGAHID" />
    <add key="PROXUserId" value="jIqEIu6ocp2UO9lBfXVNVg==" />
    <add key="AmanoPassword1" value="Rg6U42IaPzhMSTnMMfzpbg==" />
    <add key="AmanoPassword2" value="Rg6U42IaPzhMSTnMMfzpbg==" />
    <add key="AmanoServer2" value="5ZyoRbRTTKbC4kdPqUasRA==" />
    <add key="AmanoServer1" value="5ZyoRbRTTKbC4kdPqUasRA==" />
    <add key="ReportServer" value="http:///Reportserver" />
    <add key="ReportServerPassword" value="f7PfUoEY46Gko6ueTLhp+A==" />
    <add key="DENZOAutoShift" value="FALSE" />
    <add key="Plus24Hours" value="FALSE" />
    <add key="CPHAutoShift" value="FALSE" />
    <add key="Confidential" value="FALSE" />
    <add key="isExempted" value="FALSE" />
    <add key="RepostLedgerTrail" value="FALSE" />
    <add key="WFNOTIFICATIONHTML" value="FALSE" />
    <add key="LEARAutoShift" value="FALSE" />
    <add key="TextFilePosting" value="FALSE" />
    <add key="PROXDB" value="J4Y0ztumk4Q78UGhy9QJDQ==" />
    <add key="TextFileLogsDirectory" value="E:\NPAX FILES\TFS SOURCE CODE\SERVICE_HRC\" />
    <add key="FTPTextFileFolder" value="E:\NPAX FILES\TFS SOURCE CODE\SERVICE_HRC\" />
    <add key="PositionExclusion" value="DRV1,DRV2" />
    <add key="DatabaseServerName" value="dbasd3434g" />
    <add key="PROXServer" value="C72GBIWVWBKgohnL/8goSg==" />
    <add key="AmanoDB1" value="9mYVEFNsJlENZMqXlC7WTg==" />
    <add key="PayrollErrorLogPath" value="C:\" />
    <add key="DTRemail" value="apsungahid@n-pax.com" />
    <add key="SMTPPassword" value="andresung" />
    <add key="SCHEDID" value="5B9097E5-406E-46B8-AE7B-4C938C0354AB" />
    <add key="PROXPassword" value="Q5f57gDuzSDGKpp0rR2f1w==" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPServer" value="202.78.74.37" />
    <add key="AmanoServerCount" value="2" />
    <add key="WORKFLOWServer" value="192.168.1.7" />
    <add key="RFIDServer" value="10.195.1.37\SPSQL" />
    <add key="PROXCleanup" value="0" />
    <add key="LogDownloadPastDays" value="0" />
    <add key="CSVPath" value="\\192.168.138.50\Shared\philippines_FULL.txt" />
    <add key="ReportFolder" value="/payroll.reports/" />
    <add key="CC" value="" />
    <add key="BC" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TO" value="" />
  </appSettings>
</configuration>