<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PayrollConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient"/>
    <add name="dtrConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ReportServer" value="http:///Reportserver" />
    <add key="ReportFolder" value="/payroll.reports/" />
    <add key="DatabaseServerName" value="" />
    <add key="ReportServerUsername" value="dumPWev53hJPQ+lQOTnJwQ==" />
    <add key="ReportServerPassword" value="dumPWev53hJPQ+lQOTnJwQ==" />
    <add key="DataSource" value="phipjnKODRr6KmDrRaAh/Q==" />
    <add key="CentralDBName" value="8FUYkMCPgjNcF6FHtwQQdQ==" />
    <add key="DTRDBName" value="y3MfYHHCeBKpRNdwEgX91A==" />
    <add key="UserID" value="aUCCRX775iuX2W2mf11+GQ==" />
    <add key="Password" value="4pbmH8BdI+3IYIM9REHVPQ==" />
    <add key="PayrollErrorLogPath" value="C:\Program Files (x86)\PayrollSkipper\Logs" />
    <add key="isExempted" value="FALSE" />
    <add key="DirectDTR" value="TRUE" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
